{% extends "appointment/layout.html" %}
{% block body %}
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="form-group" style="padding-top:40vh;">
                <input type="number" name="pin"  style="width:40%;display:block;margin:auto;" class="form-control" placeholder="Enter your PINCODE!" id="1" required>
        </div>
        <br>
        <div class="form-group">
            <input type="text" name="age"  style="width:40%;display:block;margin:auto;" class="form-control" placeholder="Enter your minimum age!" required>
        </div>
        <br>
        <br>
        <input type="submit"  class="btn btn-success" style="margin:auto;display:block;">
    </form>
{% endblock %}