{% extends "appointment/layout.html" %}
{% block body %}
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <h2 style="text-align:center;padding-top:22.5vh;">Please enter your pincode!</h2>
        <div>
            <input type="text" name="pin"  style="margin:auto;display:block;" placeholder="Enter your PINCODE!">
        </div>
        <br>
        <h2 style="text-align:center;">Please enter your minimum age of age band for vaccination!</h2>
        <br>
        <div>
            <input type="text" name="age"  style="margin:auto;display:block;" placeholder="Enter your minimum age!">
        </div>
        <br>
        <br>
        <input type="submit"  style="margin:auto;display:block;">
    </form>
{% endblock %}