table{
    border: 1px solid black;
    border-collapse: collapse;
    padding:1px 1px 1px 1px;
}
th, td{
    border: 1px solid black;
    padding:5px 5px 5px 5px;
}
tr{
    border: 1px solid black;
    padding:5px 5px 5px 5px;
}